<div class="error">
    <div class="error-message">
        <div class="square">
            <span class='title'>404</span>
            <h4>Página não encontrada!</h4>
        </div>
    </div>
</div>