<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<?=NODE_MODULES?>animate.css/animate.min.css">
  <link rel="stylesheet" href="<?=NODE_MODULES?>@sweetalert2/theme-borderless/borderless.css">
  <link rel="stylesheet" href="<?=NODE_MODULES?>izioast/dist/css/iziToast.min.css">
  <link rel="stylesheet" href="<?=NODE_MODULES?>materialize-css/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>ScoobY FrameWork</title>
</head>
<body>
<script src="<?=NODE_MODULES?>jquery/dist/jquery.js"></script>
<script src="<?=NODE_MODULES?>sweetalert2/dist/sweetalert2.min.js"></script>
