<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<?=ASSET?>css/scooby.min.css">
  <link rel="stylesheet" href="<?=ASSET?>css/404.css">
  <link rel="stylesheet" href="<?=NODE_MODULES?>animate.css/animate.min.css">
  <link rel="stylesheet" href="<?=NODE_MODULES?>izitoast/dist/css/iziToast.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="<?=NODE_MODULES?>materialize-css/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet"> 
  <title><?=SITE_NAME?></title>
</head>
<body>
<script src="<?=NODE_MODULES?>jquery/dist/jquery.js"></script>
<script src="<?=NODE_MODULES?>sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="<?=NODE_MODULES?>izitoast/dist/js/iziToast.min.js"></script>
<script src="<?=NODE_MODULES?>materialize-css/dist/js/materialize.min.js"></script>
<script src="<?=NODE_MODULES?>axios/dist/axios.min.js"></script>
<script src="<?=ASSET?>js/scooby.js"></script>
