  <div class="navbar-fixed" style="z-index: 10000 !important;">
    <nav class="white grey-text text-darken-3 z-depth-0">
      <div class="center logo">GhosT</div>
  </nav>
  <ul id="slide-out" class="sidenav">
    <div class="white logo-menu center">GhosT</div>
    <li><div class="divider"></div></li>
    <li><a href="{{ base_url }}new-post"><i class="material-icons left">add_a_photo</i>Adicionar Photography</a></li>
    <li><a href="javascript:window.history.back();"><i class="material-icons">arrow_back</i>Voltar</a></li>
  </ul>
  <div class="fixed-action-btn">
      <a href="{{ base_url }}new-post" class="btn-floating btn-large waves-effect waves-light purple z-depth-5"><i class="material-icons">add_a_photo</i></a>
    </div>
  <div class="fixed">
      <a href="#" data-target="slide-out" class="sidenav-trigger right" style="position: relative; top: 10px; right: 30px;"><i class="material-icons small grey-text text-darken-3">menu</i></a>
      <a href="javascript:window.history.back();" class="left" style="position: relative; top: 10px; left: 30px;"><i class="material-icons small grey-text text-darken-3">arrow_back</i></a>    
  </div>
  </div>
