<div id='NewPost'>
        <div class="fixed">
                <a href="javascript:window.history.back();" class="left" style="position: relative; top: 10px; left: 30px;"><i class="material-icons small grey-text text-darken-3">arrow_back</i></a>    
            </div>
    <div class='container'>
        {# View gerada automaticamente via Scooby_CLI 04-12-19 - 02:37:am #}
        {% if msg %}
        {{ msg|raw }}
        {% endif %}
        <h3 class="center">Novo Post</h3>
        <br>
        <div class="row">
            <form class="col s12" method="POST" action="{{ base_url }}post-store" enctype="multipart/form-data">
                <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input placeholder="Titulo" id="title" type="text" name="title" class="validate" required>
                        <label for="first_name">Titulo do Post</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" name='img[]' multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload de um ou mais arquivos">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input placeholder="Texto" id="text" type="text" name="text" class="validate" required>
                            <label for="first_name">Texto do Post</label>
                        </div>
                    </div>
                    <div class="hide-on-large-only fixed-action-btn">
                        <button type="submit" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">send</i></>
                    </div>
                    <div class="hide-on-small-only hide-on-med-only">
                        <button class=" btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>